<a href="https://colab.research.google.com/github/mayank0rastogi/deeplearning/blob/master/Sentiment_Analysis_with_Deep_Learning_using_BERT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import torch
import pandas as pd
from tqdm.notebook import tqdm

In [33]:
df=pd.read_csv('/content/smile-annotations-final.csv', names=['id', 'text', 'category'])
df.set_index('id', inplace=True)
df.text.iloc[0]

'@aandraous @britishmuseum @AndrewsAntonio Merci pour le partage! @openwinemap'

In [34]:
df.category.value_counts()

nocode               1572
happy                1137
not-relevant          214
angry                  57
surprise               35
sad                    32
happy|surprise         11
happy|sad               9
disgust|angry           7
disgust                 6
sad|disgust             2
sad|angry               2
sad|disgust|angry       1
Name: category, dtype: int64

In [0]:
df= df[-df.category.str.contains('\|')]

In [0]:
df =df[df.category !='nocode']

In [37]:
df.category.value_counts()

happy           1137
not-relevant     214
angry             57
surprise          35
sad               32
disgust            6
Name: category, dtype: int64

In [0]:
possible_labels = df.category.unique()

In [0]:
label_dict = {}
for index, possible_label in enumerate(possible_labels):
    label_dict[possible_label] = index

In [40]:
label_dict

{'angry': 2,
 'disgust': 3,
 'happy': 0,
 'not-relevant': 1,
 'sad': 4,
 'surprise': 5}

In [41]:
df['label'] = df.category.replace(label_dict)
df.head()

                                                                 text  ... label
id                                                                     ...
614484565059596288  Dorian Gray with Rainbow Scarf #LoveWins (from...  ...     0
614746522043973632  @SelectShowcase @Tate_StIves ... Replace with ...  ...     0
614877582664835073  @Sofabsports thank you for following me back. ...  ...     0
611932373039644672  @britishmuseum @TudorHistory What a beautiful ...  ...     0
611570404268883969  @NationalGallery @ThePoldarkian I have always ...  ...     0

[5 rows x 3 columns]